###################
# prod
###################
spring:
  datasource:
    hikari:
      jdbc-url: jdbc:mariadb://host.docker.internal:3306/sample
      driver-class-name: org.mariadb.jdbc.Driver
      username: username
      password: password
  #### jpa ###
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL57Dialect
        show_sql: false
        format_sql: true

#### logging ###
logging.level:
  org.hibernate.SQL: debug
  org.hibernate.type: debug
