<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="30">

    <Properties>
        <Property name="LOG_FORMAT">%d{yyyy-MM-dd HH:mm:ss} %p %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_FORMAT}"/>
        </Console>
        <File name="file" fileName="./logs/file/spring-cache.log">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </File>
    </Appenders>

    <Loggers>


        <!-- Spring Cache Logging 설정 (생략 가능) -->
        <logger name="org.springframework.cache" level="trace" additivity="false" >
            <AppenderRef ref="Console" />
        </logger>

        <!-- Root logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file" />
        </Root>
    </Loggers>
</Configuration>